/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  /* Change favorite color to match images */
  /*Green dark 190 - Green 171 - Grren Blue 200*/
  --hue-color: 190;

  /* HSL color mode */
  --first-color: hsl(353, 100%, 78%);
  --first-color-second: hsl(353, 100%, 78%);
  --first-color-alt: hsl(353, 100%, 70%);
  --title-color: hsl(353, 100%, 78%);
  --text-color: hsl(0, 0%, 10%);
  ;
  --text-color-light: hsl(var(--hue-color), 8%, 60%);
  --input-color: hsl(var(--hue-color), 24%, 97%);
  --body-color: hsl(var(--hue-color), 100%, 99%);
  --white-color: #FFF;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 75%);

  /* Other color  */
  --spanish-gray: hsl(0, 0%, 60%);
  --sonic-silver: hsl(0, 0%, 47%);
  --eerie-black: hsl(0, 0%, 13%);
  --salmon-pink: hsl(353, 100%, 78%);
  --sandy-brown: hsl(29, 90%, 65%);
  --bittersweet: hsl(0, 100%, 70%);
  --ocean-green: hsl(152, 51%, 52%);
  --davys-gray: hsl(0, 0%, 33%);
  --cultured: hsl(0, 0%, 93%);
  --white: hsl(0, 100%, 100%);
  --onyx: hsl(0, 0%, 27%);

  /*========== Font and typography ==========*/
  --body-font: 'Open Sans', sans-serif;
  --title-font: 'Raleway', sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;

  /*========== Hover overlay ==========*/
  --img-transition: .3s;
  --img-hidden: hidden;
  --img-scale: scale(1.1);
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  --first-color-second: hsl(var(--hue-color), 54%, 12%);
  --title-color: hsl(var(--hue-color), 24%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: hsl(var(--hue-color), 29%, 12%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}

/*========== Button Dark/Light ==========*/
.nav__dark {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  position: absolute;
  left: 3rem;
  bottom: 4rem;
}

.change-theme,
.change-theme-name {
  color: var(--text-color);
}

.change-theme {
  cursor: pointer;
  font-size: 1rem;
}

.change-theme-name {
  font-size: var(--small-font-size);
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: #ECECEC;
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-family: var(--title-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

button,
input {
  border: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

.main {
  overflow-x: hidden;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4.5rem 0 2.5rem;

}

.section__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: var(--mb-2);
}

.container {
  max-width: 1440px;
  margin-left: var(--mb-1);
  margin-right: var(--mb-1);

}

.grid {
  display: grid;
  gap: 1.5rem;
}

.title_container{
    z-index: 2;
    
  }
  
  .cards-container {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Memastikan bahwa elemen card dapat melibat lebih dari satu baris */
    justify-content: center;
    align-items: flex-start; 
    padding-bottom: 100px;
  }
  
  .card-package {
    width: 600px;
    height: 700px;
    border-radius: 10px;
    border: 1px solid #ccc; /* Opsional: Tambahkan garis pinggir jika diinginkan */
    overflow: hidden; /* Pastikan konten yang melebihi ukuran card tersembunyi */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow untuk efek lift dari latar belakang */
  }
  
  /* Pengaturan konten di dalam card */
  .card-package-content {
    padding: 20px; /* Sesuaikan dengan kebutuhan jarak dari tepi card */
  }
  
  /* Pengaturan gambar pada card */
  .card-package-image {
    width: 100%;
    height: 700px;/* Sesuaikan dengan tinggi gambar yang diinginkan */
    object-fit: cover; /* Pastikan gambar sesuai dengan dimensi yang diberikan */
    border-bottom: 1px solid #ccc; /* Garis pemisah dengan konten bawah */
  }
  
  /* Pengaturan judul pada card */
  .card-package-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
  }
  
  /* Pengaturan deskripsi pada card */
  .card-package-description {
    margin-top: 10px;
    color: #555;
  }
  
  /* Pengaturan tombol pada card */
  .card-package-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .card-package-button:hover {
    background-color: #0056b3;
  }
  
  

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
    .place__container {
      grid-template-columns: max-content;
      justify-content: center;
    }
  
    .experience__content {
      padding: 0;
    }
  
    .experience__overlay:nth-child(1) {
      width: 190px;
    }
  
    .experience__overlay:nth-child(2) {
      width: 80px;
    }
  
    .home__info {
      width: 190px;
      padding: 1rem;
    }
  
    .experience__img,
    .video__container {
      padding: 0;
    }
  }
  
  /* For medium devices */
  @media screen and (min-width: 568px) {
    .video__container {
      display: grid;
      grid-template-columns: .6fr;
      justify-content: center;
    }
  
    .place__container {
      grid-template-columns: repeat(3, max-content);
    }
  
    .subscribe__form {
      width: 470px;
      margin: 0 auto;
    }
  }
  
  @media screen and (min-width: 768px) {
    body {
      margin: 0;
    }
  
    .nav {
      height: calc(var(--header-height) + 1.5rem);
    }
  
    .nav__link {
      color: var(--white-color);
      text-transform: initial;
    }
  
    .nav__link:hover {
      color: var(--white-color);
    }
  
    .nav__dark {
      position: initial;
    }
  
    .nav__menu {
      display: flex;
      column-gap: 1rem;
    }
  
    .nav__toggle,
    .nav__close {
      display: none;
    }
  
    .change-theme-name {
      display: none;
    }
  
    .change-theme {
      color: var(--white-color);
    }
  
    .active-link::before {
      background-color: var(--white-color);
    }
  
    .scroll-header .nav__link {
      color: var(--text-color);
    }
  
    .scroll-header .active-link {
      color: var(--title-color);
    }
  
    .scroll-header .active-link::before {
      background-color: var(--title-color);
    }
  
    .scroll-header .change-theme {
      color: var(--text-color);
    }
  
    .section {
      padding: 7rem 0 2rem;
    }
  
    .home__container {
      height: 100vh;
      grid-template-rows: 1.8fr .5fr;
    }
  
    .home__data {
      align-self: flex-end;
    }
  
    .home__social {
      flex-direction: row;
      align-self: flex-end;
      margin-bottom: 3rem;
      column-gap: 2.5rem;
    }
  
    .home__info {
      bottom: 3rem;
    }
  
    .about__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  
    .about__data,
    .about__title {
      text-align: initial;
    }
  
    .about__title {
      margin-bottom: var(--mb-1-5);
    }
  
    .about__description {
      margin-bottom: var(--mb-2);
    }
  
    .discover__container {
      width: 610px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .discover__container,
    .place__container {
      padding-top: 2rem;
    }
  
    .experience__overlay:nth-child(1) {
      width: 363px;
      margin-right: 4rem;
    }
  
    .experience__overlay:nth-child(2) {
      width: 160px;
    }
  
    .subscribe__bg {
      background: none;
      padding: 0;
    }
  
    .subscribe__container {
      background-color: var(--first-color-second);
      padding: 3.5rem 0;
    }
  
    .subscribe__input {
      padding: 0 .5rem;
    }
  
    .footer__rights {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  
  /* For large devices */
  @media screen and (min-width: 1024px) {
    .container {
      margin-left: auto;
      margin-right: auto;
    }
  
    .home__container {
      grid-template-rows: 2fr .5fr;
    }
  
    .home__info {
      width: 328px;
      grid-template-columns: 1fr 2fr;
      column-gap: 2rem;
    }
  
    .home__info-title {
      font-size: var(--normal-font-size);
    }
  
    .home__info-img {
      width: 240px;
    }
  
    .about__img-one {
      width: 230px;
    }
  
    .about__img-two {
      width: 290px;
    }
  
    .discover__card {
      width: 237px;
    }
  
    .discover__container {
      width: 700px;
    }
  
    .discover__data {
      left: 1.5rem;
      bottom: 2rem;
    }
  
    .discover__title {
      font-size: var(--h2-font-size);
    }
  
    .experience__content {
      margin: var(--mb-1) 0;
      column-gap: 3.5rem;
    }
  
    .experience__overlay:nth-child(1) {
      width: 463px;
      margin-right: 7rem;
    }
  
    .experience__overlay:nth-child(2) {
      width: 220px;
      top: 3rem;
    }
  
    .video__container {
      grid-template-columns: .7fr;
    }
  
    .video__description {
      padding: 0 8rem;
    }
  
    .place__container {
      gap: 3rem 2rem;
    }
  
    .place__card,
    .place__img {
      height: 263px;
    }
  
    .footer__content {
      justify-items: center;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .container {
      max-width: 1024px;
    }
  }
  
  /* For tall screens on mobiles y desktop*/
  @media screen and (min-height: 721px) {
    body {
      margin: 0;
    }
  
    .home__container,
    .home__img {
      height: 640px;
    }
  }