@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
	font-family: 'Montserrat', sans-serif;
}
body {
	background: #f1fbff;
}
.section-padding {
	padding: 100px 0;
}
.carousel-item {
	height: 100vh;
	min-height: 300px;
}
.carousel-caption {
	bottom: 220px;
	z-index: 2;
}
.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
}
.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
}
.carousel-inner:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1;
}
.navbar .getstarted {
	background: #106eea;
	margin-left: 30px;
	border-radius: 4px;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
	padding: .5rem 1rem;
	line-height: 2.3;
}
.navbar-nav a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
}
.navbar-light .navbar-brand {
	color: #000;
	font-size: 35px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
	color: #000;
}
.navbar-light .navbar-nav .nav-link {
	color: #000;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #000;
}
.w-100 {
	height: 100vh;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}
.book .card {
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.team .card {
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.team .card-body i {
	font-size: 20px;
}

.us_section {
	background-color: #0f2480;
	color: #ffffff;
  }
  
  .us_section .heading_container {
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	margin-bottom: 45px;
  }
  
  .us_section .heading_container h2 {
	border-left-color: #ffffff;
  }
  
  .us_section .box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	text-align: center;
	color: #ffffff;
	margin: 25px 0;
  }
  
  .us_section .box .img-box {
	margin-bottom: 15px;
  }
  
  .us_section .box .img-box img {
	width: 100%;
  }
  
  .us_section .box h3 {
	font-weight: bold;
  }
  
  .us_section .btn-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	margin-top: 20px;
  }
  
  .us_section .btn-box a {
	padding: 7px 30px;
	background-color: #ffffff;
	color: #252525;
	border-radius: 25px;
  }
  
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.carousel-caption {
		bottom: 370px;
	}
	.carousel-caption p {
		width: 100%;
	}
	.card {
		margin-bottom: 30px;
	}
	.img-area img {
		width: 100%;
	}
}
@media only screen and (max-width: 767px) {
	.navbar-nav {
		text-align: center;
	}
	.carousel-caption {
		bottom: 125px;
	}
	.carousel-caption h5 {
		font-size: 17px;
	}
	.carousel-caption a {
		padding: 10px 15px;
		font-size: 15px;
	}
	.carousel-caption p {
		width: 100%;
		line-height: 1.6;
		font-size: 12px;
	}
	.about-text {
		padding-top: 50px;
	}
	.card {
		margin-bottom: 30px;
	}
	.about_section {
		position: relative;
		padding-top: 75px;
	  }
	  
	  .about_section .row {
		-webkit-box-align: center;
			-ms-flex-align: center;
				align-items: center;
	  }
	  
	  .about_section .img-box img {
		width: 100%;
	  }
	  
	  .about_section .detail-box p {
		margin-top: 15px;
	  }
	  
	  .about_section .detail-box a {
		display: inline-block;
		padding: 7px 30px;
		background-color: transparent;
		color: #000000;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
		border: 1px solid #DABFAB;
		border-radius: 25px;
		margin-top: 25px;
	  }
	  
	  .about_section .detail-box a:hover {
		background-color: #DABFAB;
		border-color: transparent;
		color: #ffffff;
	  }
	  
	  .about_section .square-box {
		position: absolute;
		right: 25px;
		bottom: 0;
		width: 75px;
	  }
	  
	  .about_section .square-box img {
		width: 100%;
	  }
}

html, body {
	overflow-x: hidden;
  }
  
  /**
   * Enable smooth scrolling on the whole document
   */
  html {
	scroll-behavior: smooth;
  }
  
  /**
   * Disable smooth scrolling when users have prefers-reduced-motion enabled
   */
  @media screen and (prefers-reduced-motion: reduce) {
	html {
	  scroll-behavior: auto;
	}
  }

  .section {
	scroll-margin-top: 2rem;
  }

  .fade-in {
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.fade-in.is-visible {
	opacity: 1;
}

@media (min-width: 200px) {
	.carousel-inner {
	  display: flex;
	}
	.carousel-item {
	  margin-right: 0;
	  flex: 0 0 100%;
	  display: block;
	}
  }

  